$red:         #FF3535; //1,2,3 (red): rgb(255, 53, 53)
$green:       #019733; // 4,5,6 (green): rgb(1, 151, 51)
$purple:      #CC02C8; // 7 (purple): rgb(204, 2, 200)
$blue:        #0F6797; // A,C,E (blue): rgb(15, 103, 151)
$orange:      #FF9800; // B,D,F,M (orange): rgb(255, 152, 0)
$lime-green:  #9BCF00; // G (lime green): rgb(155, 207, 0)
$brown:       #986701; // J,Z (brown): rgb(152, 103, 1)
$gray:        #999999; // L,S (grey): rgb(153, 153, 153)
$yellow:      #F9FD06; // N,Q,R (yellow): rgb(249, 253, 6)
$navy-blue:   #164480; // SIR (navy blue): rgb(22, 68, 128)
$yellow:      #FDD506; // AirTrain (yellow): rgb(253, 213, 6)